@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@config "../tailwind.config.ts";

@theme {
  --font-heading: var(--font-sf-pro-display);
  --font-body: var(--font-pp-neue-montreal);
  --font-code: var(--font-geist-mono);
  --font-handwriting: var(--font-gloria-hallelujah);
}

body {
  @apply font-body;
}
